<% tasks.each do |task| %>
  <div><%= task.description %></div>
  <%= link_to 'Edit', edit_story_task_path(story, task) %>
  <%= link_to 'Destroy', story_task_path(story, task), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
